*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: "Raleway";
	
}
html,body{
	height: 100%;
	background-color: black;
}
@font-face{
	src:url(../fonts/Gayathri-Regular.ttf);
	font-family: "GayathriRegular";
}
@font-face{
	src:url(../fonts/Raleway-light.ttf);
	font-family: "Raleway";
}
.clear{
	clear: both;
}

.center{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;

}
.header{
	width: 100%;
	padding:0 2%;
	height: 150px;
	background-color: black;
	/*rgb(8, 255, 255)*/
}
.header img{
	
	width: 130px;
	margin-top: 10px;
	margin-left: 50px;

}
.header h1{
	color: lightblue;
	margin-top: 10px;
	margin-left: 150px;
	
}
.container-banner{

	
	width:  100%;
	padding: 0 2%;
	height: 557px;
	/*ackground-color: black;
	*/
	background-image: url(../images/imgs.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	
}
.container-banner > .center{
	height: 100%;
	
	/*text-align:right;*/	
}
.form{
	/*display: inline-block;*/
	width: 400px;
	height: 600px;
	position: relative;
	top: -40px;
	background-color: white;
	float: right;
	border: 9px solid rgba(150,150,150,0.4);
	display: inline-block;
	background-clip: padding-box;
	/*background-origin, tem o mesmo conceito de background-clip
	porem é para imagens.*/ 
}
.form h2{
	margin: 10px 30px;
	font-size: normal;
	color: #999999;
	text-align: center;
}
.input-container{
	margin-top: 40px;
	text-align: center;
}
.input-container span{
	display: inline-block;
	width: 100%;
	color: #BBBBBB;
	font-size: 17px;
	text-align: left;
	margin-left: 30px;
}
.input-container input[type=text]{
	margin-top: 8px;
	width: 344px;
	height: 55px;
	border: 1px solid #ccc;
}
.form p{
	margin-top: 30px;
	color: #BBBBBB;
	font-size: 17px;
	text-align: left;
	margin-left: 30px;
}
.submit-container{
	text-align: center;
}


.form input[type=submit]{
	width: 300px;
	height: 55px;
	margin-top: 30px;
	border: 0;
	background-color:  #033967 ;
	
	font-size: 25px;
	font-family: "Raleway";
	color: white;
	cursor: pointer;
}

.form input[type=submit]:hover{
	background-color: lightblue;
	color: #033967;
}

.container-list{

	padding: 30px;
	float: left;

	width: 500px;
	height: 270px;
	margin-top: 100px;
	background-color:  rgba(2, 122, 201,0.7);
	border: 9px solid rgba(150,150,150,0.4);
	background-clip: padding-box;
}

.container-list ul{
	list-style-position: inside;
}
.container-list li{
	margin-top: 15px;
	color: white;
	font-size: 30px;
}

.container-2{
	padding: 65px 0;
	background-color: black;
	text-align: center;
}

.container-2 .circle img{
 
	border-radius: 50%;
	width: 200px;
	height: 200px;
}


.container-2 h2{
	font-weight: normal;
	color: #033967;
}

.container-2 p{
	margin: 15px 0;
	display: inline-block;
	width: 100%;
	max-width: 770px;
	font-family: arial;
	text-align: justify;
	color: lightblue;
}

.arrow{	
	width: 100px;
	height: 100px;
	background-image:url('../images/seta.png');
	background-repeat: no-repeat;
	background-size: 100%;
	margin: -69px auto;
	position: relative;
	top: 50px;
} 

.section-1{
	padding: 90px 2%;
	background-color: lightblue;
}

.section-1 h2{
	text-align: center;
	font-weight: normal;
}

.container-section{	
	margin: 0px auto;
	max-width: 850px;
	margin-top: 40px;
	text-align: center;
}
.container-single p {
	
	text-align: justify;
}


.container-single{
	float: left;
	width: 33.333%;
	
	
}

.footer{
		/*clear: both;*/

	border: 2px solid #033967;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
	padding: 40px 0;
	text-align: center;
	color: #033967;
	
}


@media screen and (max-width: 850px){
	.header {
		width: 100%;
		padding: 35px 0;
		text-align: center;
	}
	.header img{
		margin: 0;
	}

	.container-list{
		padding: 30px;
		float: none;
		width: 90%;
		display: inline-block;
		max-width: 500px;
		height: auto;
		margin-bottom: 10px;
		
	}

	.container-banner{
		width: 100%;
		padding: 40px 2%;
		height: auto;
		text-align: center;
	}
	.form{
		padding: 10px;
		width: 90%;
		max-width: 400px;
		height: auto;
		display: inline-block;
		float: none;
		top: 0;
	}
	.container-2{
		padding-right: 4%;
		padding-left: 4%;
	}

}